html
    body
        div
            a(href="/") Главная
            a(href="/users") Пользователи
        div
            block content
        div
            a(href="https://github.com/dima55279") Мой профиль GitHub
